---
---

@import 'variables';

$primary-color: $tcm-red;
$secondary-color: $tcm-red;
$dropdownmenu-background: orange;

$titlebar-background: white !default;
$titlebar-color: $tcm-red !default;
$offcanvas-background: #444;

$header-padding-top-small: 2em;
$header-padding-top: 3em;
$nav-padding-bottom: 1em;

$button-radius: 4px;

@import 'foundation';
@include foundation-everything;

// $font-path: "../css/fonts/foundation-icons";
// @font-face {
//   font-family: "foundation-icons";
//   src: url("#{$font-path}.eot");
//   src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
//        url("#{$font-path}.woff") format("woff"),
//        url("#{$font-path}.ttf") format("truetype"),
//        url("#{$font-path}.svg#fontcustom") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }
//
// @import "../css/fonts/foundation-icons.css";

.menu-icon::after {
    background: $tcm-red;
    box-shadow: 0 7px 0 $tcm-red, 0 14px 0 $tcm-red;
}

main {
  @include grid-row;
  article {
    header, div:first {
      @include grid-column(12);
    }
  }
}

#main-header {
  position: relative;
  border-bottom: solid 2px #e5e5e5;
  box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;
  padding: $header-padding-top 0 4em 0;
  max-width: 75em;
  margin: 0 auto;

  @include breakpoint(small only) {
    padding: $header-padding-top-small 0 4em 0;
  }

  h1 {
    font-family: 'Arvo';
    font-weight: 700;
    color: $tcm-red;
    text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
    letter-spacing: 13px;
    text-transform: uppercase;

    @include breakpoint(small only) {
      letter-spacing: 8px;
      font-size: 1.75em;
    }

    a {
      border: 0;

      &:hover {
        color: $tcm-red;
      }

      &:focus {
        color: $tcm-red;
      }
    }
  }

  p {
    margin: 2em 0 0 0;
    font-size: 0.95em;
    letter-spacing: 3px;

    text-transform: uppercase;
    font-weight: 400;
    color: $tcm-dark-grey;
    font-family: 'Source Sans Pro';
    text-align: center;

    @include breakpoint(small only) {
      margin: 1.25em 0 0 0;
      font-size: 0.75em;
      letter-spacing: 2px;
    }

  }
}

footer {
  position: relative;
  overflow: hidden;
  border-top: solid 2px #e5e5e5;
  background: #f0f0f0;
  padding: 1em 0 2em 0;
  margin: 1em 0 0 0;
  text-align: center;
  height: 100%;

  @include breakpoint (small only)  {
    margin: 0 -20px;
  }

  > h2 {
    text-align: center;
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.75em;
    text-transform: uppercase;
    color: $tcm-dark-grey;
    margin-bottom: 0.5em;

    @include breakpoint (small only)  {
      font-size: 1.2em;
      font-weight: 600;
      text-transform: uppercase;
      color: $tcm-dark-grey;
    }
  }

}

#offCanvas {
  background: #444;
  border-right: solid 2px #3c3c3c;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 0.75em;
  font-family: 'Source Sans Pro';

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }

    &:focus {
      color: #fff;
    }
  }

  > ul {
    > li {
        border-top: solid 1px #3c3c3c;

        &:first-child {
          border-top: 0;
        }
    }
  }
}

nav {

  padding-bottom: $nav-padding-bottom;

  ul {
    list-style: none;
    margin-bottom: 2em;

    > li {
      padding-right: 0em;
      display: inline-block;

      > a {
        display: block;
        border: 0;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        color: $tcm-grey;
        outline: 0;
        padding: 0.7em 0.7em;

        > i {
          display: inline-block;
          background: #878787;
          color: #e4e4e4;
          width: 2em;
          height: 2em;
          border-radius: 2em;
          line-height: 2em;
          text-align: center;
          box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
          margin-right: 0.75em;
          -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          // -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          -ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          padding-top: 1px;
          font-size: 1.1rem;
        }

        > span {
          font-size: 0.85em;
          letter-spacing: 3px;
          font-family: 'Source Sans Pro';
          padding-top: 10px;
          text-align: inherit;
          vertical-align: text-bottom !important;
        }
      }
    }
  }
}

article {
  max-width: 75em;

  margin: 3em 0 0 0;
  padding: 0 0 3em 0;

  border-bottom: solid 2px #e5e5e5;
  box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;

  @include breakpoint (small only)
  {
    margin: 1em 0 0 0;
    padding: 0 0 1em 0;
  }

  &:last-child{
    border-bottom: 0;
    box-shadow: none;
    padding: 0 0 0 0;
  }

  > h4 {
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: left;
    margin: 0 0 1.5em 0;

    font-weight: 400;
    text-transform: uppercase;
    color: $tcm-dark-grey;

    @include breakpoint (small only) {
      text-align: center;
      font-weight: 600;
    }
  }

  > h5 {
    font-size: 1em;
    letter-spacing: 2px;
    text-align: left;
    margin: 0 0 1.5em 0;

    font-weight: 300;
    text-transform: uppercase;
    color: $tcm-dark-grey;

    @include breakpoint (small only) {
      text-align: center;
      font-weight: 400;
    }
  }

}

.image {
  display: block;
  width: 100%;
  margin: 0 0 1.5em 0;
  border: solid 6px #ebebeb;
  transition: opacity 0.25s ease-in-out;

  img {
    display: block;
    width: 100%;
  }
}

p {
  margin-bottom: 1em;
  text-align: justify;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 13pt;
  color: $tcm-grey;

  @include breakpoint (small only) {
    font-size: 11pt;
    line-height: 20pt;
  }

  a {
    color: #666;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    -moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    // -o-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;

    &:hover {
      color: $tcm-red;
      border-bottom-color: rgba(255,255,255,0);
    }
  }
}

.button {
  font-size: 0.95em;
  letter-spacing: 2px;
  padding: 0.95em 2em 0.95em 2em;
  text-transform: uppercase;

  @include breakpoint (small only)  {
    width: 100%;
  }

  i {
    padding-right: 10px;
  }
}

.off-canvas-content {
    @include breakpoint (small only) {
      padding: 0 20px 0 20px;
    }
}

.title-bar-left {
  border: #cecece 1px solid;
  padding: 2px 2px 6px 2px;
  border-radius: 4px;
  position: fixed;
  margin-left: -20px;
  z-index: 999;
  background-color: #e5e5e5;
}

.icons {

  margin: 0 0 1em 0;

  > a {
    > i {
      display: inline-block;
      background: #878787;
      color: #e4e4e4;
      width: 2em;
      height: 2em;
      border-radius: 2em;
      line-height: 2em;
      text-align: center;
      box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
      margin-right: 0.75em;
      -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
      -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
      // -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
      -ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
      transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
      padding-top: 1px;
      font-size: 1.1rem;
    }
  }
}

#copyright {
  font-weight: 400;
  color: $tcm-grey;

  > span {
    &:last-child {
      display: inline;
      border-left: solid 1px #d0d0d0;
      padding-left: 1em;
      margin-left: 1em;

      @include breakpoint (small only)
      {
        display: block;;
        border-left: none;
        padding-left: 0;
        margin-left: 0;
      }
    }
  }
}

figure figcaption {
		line-height: 1.75em;
		font-size: 11pt;
		letter-spacing: 0;
		font-weight: 400;
		color: $tcm-grey;
    text-align: center;
}

.references {
    border-top: solid 1px #e5e5e5;
    margin: 2em 0 0.5em 0;
}

img.center {
    display: block;
    margin: 0 auto;
}

.tags {
  h2 {
    color: $tcm-red;
    margin: 0;
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.75em;
  }

  h3 {
    color: $tcm-red;
    margin: 0;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 600;
  }

  h4 {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: $tcm-dark-grey;
  }
}

.category {
  h1 {
    color: $tcm-red;
    margin: 0;
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.75em;
  }
}


html, body {
  height: 100%;
}

h2 {
  // margin: 0 0 1em 0;
  font-size: 1.65em;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 0 0 1.5em 0;
  line-height: 1.75em;
  text-transform: uppercase;
  color: $tcm-dark-grey;

  @include breakpoint (small only) {
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 0 1.5em 0;
    font-weight: 600;
    text-transform: uppercase;
    color: $tcm-dark-grey;
  }

  > a {
    color: $tcm-dark-grey;
  }
}

h3 {
  font-size: 1em;
  letter-spacing: 2px;
  margin: 0 0 1.25em 0;
  font-weight: 600;
  text-transform: uppercase;
  color: $tcm-dark-grey;

  @include breakpoint (small only) {
    text-align: center;
  }
}

strong {
  font-weight: 600;
  color: #666;
}

#features {
  margin: 2em 0 0 0;
  text-align: center;
}

.full-icons {
  a {
    display: block;
    text-align: left;
    margin: 1em;
    color: $tcm-dark-grey;

    @include breakpoint (small only) {
      display: inline;
      text-align: center;
      margin: 0;
    }
  }

  > h3 {
    text-align: left;

    @include breakpoint (small only)
    {
      text-align: center;
    }
  }
}

i {
  + span {
    margin-left: 0.5em;
  }
}

.off-canvas.is-open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

// .off-canvas-absolute {
//     position: absolute;
//     z-index: 1;
//     transition: transform .5s ease;
//     backface-visibility: hidden;
//     background: #444
// }
//
// [data-whatinput='mouse'] .off-canvas-absolute {
//     outline: 0
// }
//
// .off-canvas-absolute.is-transition-overlap {
//     z-index: 10
// }
//
// .off-canvas-absolute.is-transition-overlap.is-open {
//     box-shadow: 0 0 10px rgba(10, 10, 10, 0.7)
// }

.off-canvas-absolute.is-open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.position-left {
    // top: 0;
    // left: 0;
    // width: 250px;
    // height: 100%;
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    // overflow-y: auto
}

.position-left.is-open ~ .off-canvas-content {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
}
//
// .position-left.is-transition-push::after {
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 100%;
//     width: 1px;
//     box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
//     content: " "
// }

.position-left.is-transition-overlap.is-open ~ .off-canvas-content {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}


.article-image {
  img {
    display: block;
    margin: auto;
  }
}
