<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

  <!-- Menu -->
  <ul class="vertical menu">
    <li><a class="icon icon-home" href="{{ site.baseurl }}/index.html"><i class="fi-home"></i> <span>Home</span></a></li>
    <li><a class="icon icon-tags" href="{{ site.baseurl }}/tags"><i class="fi-pricetag-multiple"></i> <span>Tags</span></a></li>
    <li><a class="icon icon-user" href="{{ site.baseurl }}/about"><i class="fi-paw"></i> <span>About</span></a></li>
    <!-- <li><a class="icon icon-user" href="{{ site.baseurl }}/about"><i class="fi-paw"></i> <span>Readings</span></a></li>
    <li><a class="icon icon-user" href="{{ site.baseurl }}/about"><i class="fi-paw"></i> <span>Projects</span></a></li> -->
  </ul>

</div>
