<!-- Footer Wrapper -->
     <div id="footer-wrapper">

       <!-- Footer -->
         <div id="footer" class="container">
           <header>
             <h2>You can find me by:</h2>
           </header>
           <div class="row">
             <div class="12u -5u -3u(mobile)">
               <section class="icons">
                 {% if site.twitter == blank %}
                 <a href="https://twitter.com/{{site.twitter}}">
                   <i class="icon icon-twitter"></i>
                 </a>
                 {% endif %}

                 <a href="https://github.com/{{site.github}}">
                   <i class="icon icon-github"></i>
                 </a>

                 <a href="{{site.linkedin}}">
                   <i class="icon icon-linkedin"></i>
                 </a>

                 <a href="mailto:{{site.email}}">
                   <i class="icon icon-envelope"></i>
                 </a>

                 {% if site.facebook == blank %}
                 <a href="https://facebook.com/{{site.facebook}}">
                   <i class="icon icon-facebook"></i>
                 </a>
                 {% endif %}

                 {% if site.googleplus == blank %}
                 <a href="https://plus.google.com/{{site.googleplus}}">
                   <i class="icon icon-google-plus"></i>
                 </a>
                 {% endif %}
               </section>
             </div>
           </div>
         </div>

       <!-- Copyright -->
         <div id="copyright" class="container">
           <ul class="links">
             <li>&copy; {{ site.owner }}. All rights reserved</li>
             <li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
           </ul>
         </div>

     </div>
