<footer>

  <h2>You can find me by:</h2>

  <div>
    <div>
      <section class="icons">
        {% if site.twitter == blank %}
        <a href="https://twitter.com/{{site.twitter}}">
          <i class="fi-social-twitter"></i>
        </a>
        {% endif %}

        <a href="https://github.com/{{site.github}}">
          <i class="fi-social-github"></i>
        </a>

        <a href="{{site.linkedin}}">
          <i class="fi-social-linkedin"></i>
        </a>

        <a href="mailto:{{site.email}}">
          <i class="fi-mail"></i>
        </a>

        {% if site.facebook == blank %}
        <a href="https://facebook.com/{{site.facebook}}">
          <i class="fi-social-facebook"></i>
        </a>
        {% endif %}

        {% if site.googleplus == blank %}
        <a href="https://plus.google.com/{{site.googleplus}}">
          <i class="fi-social-google-plus"></i>
        </a>
        {% endif %}
      </section>
    </div>
  </div>

  <!-- Copyright -->
  <small id="copyright">
    <span>
      &copy; {{ site.owner }}. All rights reserved
    </span>
    <span>
      Design: <a href="http://html5up.net/">HTML5 UP</a>
    </span>
    <!-- <ul class="links">
      <li>&copy; {{ site.owner }}. All rights reserved</li>
      <li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
    </ul> -->
  </small>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/foundation.offcanvas.js"></script>
  <!-- <script src="/js/app.js"></script> -->
  <script>
    $(document).foundation();
  </script>
</footer>
